@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-Regular.eot');
    src: url('../fonts/Sora-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sora-Regular.woff2') format('woff2'),
        url('../fonts/Sora-Regular.woff') format('woff'),
        url('../fonts/Sora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antonio';
    src: url('../fonts/Antonio-Bold.eot');
    src: url('../fonts/Antonio-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Antonio-Bold.woff2') format('woff2'),
        url('../fonts/Antonio-Bold.woff') format('woff'),
        url('../fonts/Antonio-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antonio';
    src: url('../fonts/Antonio-Regular.eot');
    src: url('../fonts/Antonio-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Antonio-Regular.woff2') format('woff2'),
        url('../fonts/Antonio-Regular.woff') format('woff'),
        url('../fonts/Antonio-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antonio';
    src: url('../fonts/Antonio-SemiBold.eot');
    src: url('../fonts/Antonio-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Antonio-SemiBold.woff2') format('woff2'),
        url('../fonts/Antonio-SemiBold.woff') format('woff'),
        url('../fonts/Antonio-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}