@font-face {
    font-family: 'Roobert';
    src: url('../fonts/Roobert-Bold.eot');
    src: url('../fonts/Roobert-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roobert-Bold.woff2') format('woff2'),
        url('../fonts/Roobert-Bold.woff') format('woff'),
        url('../fonts/Roobert-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert';
    src: url('../fonts/Roobert-Heavy.eot');
    src: url('../fonts/Roobert-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roobert-Heavy.woff2') format('woff2'),
        url('../fonts/Roobert-Heavy.woff') format('woff'),
        url('../fonts/Roobert-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert';
    src: url('../fonts/Roobert-Medium.eot');
    src: url('../fonts/Roobert-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roobert-Medium.woff2') format('woff2'),
        url('../fonts/Roobert-Medium.woff') format('woff'),
        url('../fonts/Roobert-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert';
    src: url('../fonts/Roobert-Regular.eot');
    src: url('../fonts/Roobert-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roobert-Regular.woff2') format('woff2'),
        url('../fonts/Roobert-Regular.woff') format('woff'),
        url('../fonts/Roobert-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert';
    src: url('../fonts/Roobert-Light.eot');
    src: url('../fonts/Roobert-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roobert-Light.woff2') format('woff2'),
        url('../fonts/Roobert-Light.woff') format('woff'),
        url('../fonts/Roobert-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert';
    src: url('../fonts/Roobert-SemiBold.eot');
    src: url('../fonts/Roobert-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roobert-SemiBold.woff2') format('woff2'),
        url('../fonts/Roobert-SemiBold.woff') format('woff'),
        url('../fonts/Roobert-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}