// font family             
$roobert: 'Roobert', sans-serif;     

// colors
:root{
    --primary: #DB2114; 
    --secondary: #8666EA;
    --secondary-light: #E2F3EE;
    --text-color: #B4B4B4;
    --ascent2: #EACDBD;
    --ascent3: #E9F8F0;
    --dark: #000000;
    --dark2: #131212;
    --dark4: #7B7B7B;
    --dark5: #EBEBEB;
    --dark6: #F3F3F3;
    --info: #219FFF;
    --success: #17BD8D;
    --warning: #FFA114;
    --danger: #FF4E3E;
    --status: #F53D6B;
    --white: #fff;
}

// border radius
$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-lg: 30px;
