// font family             
$antonio: 'Antonio', sans-serif;
$sora: 'Sora', sans-serif;

// colors
:root{
    --wprimary: #0F4336;
    --wsecondary: #CCBA78; 
    --white: #fff;
    --dark: #000;
}

// border radius
$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-lg: 30px;
