/* Hero Section - Start */
.banner-sec {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    padding: 200px 0;
	display: flex;
	align-items: center;
	height: 100%;
}


.banner {
	background-color: #FAF7F7;
	&-content {
		position: relative;
		padding: 0 12px;
		.leading {
			font-size: 20px;
			margin-bottom: 45px;
			color: #9EAEBB;
			font-weight: 400;
		}
	}
}

.banner-title {
	margin-bottom: 35px;
	font-size: 36px;
	line-height: 1.2;
	color: var(--white);
	br {
		display: none;
		@media (min-width: 992px) {
			display: block;
		}
	}
}

.banner-image {
	max-width: 675px;
	img {
		max-width: 100%;
	}
}
.animate-cap {
	h2 {
		font-size: 80px;
		font-weight: 700;
	}
}

.banner-tab {
	.nav-tabs {
		border-color: transparent;
		margin-bottom: 23px;
		.nav-item {
			.nav-link {
				color: var(--wsecondary);
				border-radius: 2px;
				border: none;
				font-size: 24px;
				line-height: 31px;
				font-weight: 400;
				text-transform: uppercase;
				font-family: $antonio;
				padding: 12px 24px;
				position: relative;
				transition: all ease 0.1s;
				&::after {
					position: absolute;
					left: 0;
					right: 0;
					margin: auto;
					bottom: -14px;
					content: url(../images/btn-shape.svg);
					opacity: o;
					visibility: hidden;
					transition-delay: .03s;
				}
				&.active {
					background-color: var(--wsecondary);
					color: var(--white);
					&::after {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
	.banner-form {
		.form-input {
			border-radius: 2px;
			.input-f {
				font-size: 20px;
				color: #9F9F9F;
				line-height: 25px;
				height: 80px;
				padding: 14px 40px;
			}
		}
		.form-select {
			height: 55px;
			border-radius: 0;
			padding: 13px 20px;
		}
		.form-btn{
			font-size: 24px;
			font-weight: 600;
			line-height: 31px;
			text-transform: uppercase;
			border: none;
			/* color: var(--wsecondary); */
			border-radius: 2px;
			padding: 12px 60px 16px;
			background: var(--wsecondary);
			color: #fff;
			font-family: $antonio;
			svg {
				width: 24px;
				height: 30px;
				margin-top: -5px;
			}
			&.form-btn-full {
				position: static;
				width: 100%;
			}
			@media (min-width: 992px) {
				position: absolute;
				right: 0;
				// top: auto;
				// width: auto;
				// display: inline-block;
				bottom: 0;
				height: 100%;
			}
		}
	}
}
.animate-cap {
	h2 {
		position: absolute;
		bottom: 0;
		top: 0;
		right: -100px;
		margin: auto;
		font-size: 130px;
		font-weight: 700;
		text-transform: uppercase;
		color: rgba($color: #fff, $alpha: 0.06);
		height: 40px;
		transition: all ease .3s;
		animation: leftright 8s linear infinite alternate;
	}
}
@media (min-width: 992px) {
	.banner-sec { 
		min-height: calc(100vh - 110px);
	}
	.banner-title {
		font-size: 110px;
		line-height: 110px;		
	}
	.banner-content {
		margin-bottom: 130px;
	}
	.banner {
		&-image {
			position: relative;
			margin-right: -129px;
			margin-bottom: -350px;
			margin-left: -175px;
			margin-top: -11px;
			// width: 658px;
			// position: absolute;
			// left: -150px;
			// top: 10px;
			// right: -24px;
		}
	}
	.animate-cap {
		h2 {
			font-size: 230px;
		}
	}
}
@media (min-width: 1600px) {
	.banner-sec { 
		padding: 120px 0 85px;
	}
}

@keyframes leftright {
	from {
		right: -100px;
	}
	to {
		right: 0px;
	}
}