/****************************
==============================
   table of content 
==============================

1.    Import files
2.    Header
3.    Banner
4.    About Intro
5     CTA
6.    Course
7.    Registration
8.    Team
9.    Event
10.   Testimonial 
11.   Blog 
12.   Client 
13.   Footer 

******************************/
:root {
  --wprimary: #0F4336;
  --wsecondary: #CCBA78;
  --white: #fff;
  --dark: #000;
}

/* Table of Content
====================

1. typography
2. Global styles

====================*/
:root {
  --wprimary: #0F4336;
  --wsecondary: #CCBA78;
  --white: #fff;
  --dark: #000;
}

@font-face {
  font-family: "Sora";
  src: url("../fonts/Sora-Regular.eot");
  src: url("../fonts/Sora-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Sora-Regular.woff2") format("woff2"), url("../fonts/Sora-Regular.woff") format("woff"), url("../fonts/Sora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Antonio";
  src: url("../fonts/Antonio-Bold.eot");
  src: url("../fonts/Antonio-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Antonio-Bold.woff2") format("woff2"), url("../fonts/Antonio-Bold.woff") format("woff"), url("../fonts/Antonio-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Antonio";
  src: url("../fonts/Antonio-Regular.eot");
  src: url("../fonts/Antonio-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Antonio-Regular.woff2") format("woff2"), url("../fonts/Antonio-Regular.woff") format("woff"), url("../fonts/Antonio-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Antonio";
  src: url("../fonts/Antonio-SemiBold.eot");
  src: url("../fonts/Antonio-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Antonio-SemiBold.woff2") format("woff2"), url("../fonts/Antonio-SemiBold.woff") format("woff"), url("../fonts/Antonio-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* ===========================
// Typography
==============================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 400;
  color: #000;
  background-color: #0F4336;
  font-family: "Sora", sans-serif;
}

.body-wrapper {
  overflow: hidden;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Antonio", sans-serif;
  color: var(--dark);
  font-weight: 600;
}

h1 {
  font-size: 64px;
  line-height: 80px;
}

h2 {
  font-size: 48px;
  line-height: 56px;
}

h3 {
  font-size: 30px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 34px;
}

h5 {
  font-size: 16px;
  line-height: 26px;
}

h6 {
  font-size: 14px;
  line-height: 22px;
}

/*============================ 
// Global styles
=============================*/
html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:link,
a:visited,
a:focus {
  text-decoration: none;
  outline: 0;
}

a {
  color: var(--primary);
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
a:hover {
  text-decoration: none;
  color: var(--primary);
}

strong {
  font-weight: 700;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
select,
:focus {
  outline: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

hr {
  opacity: 1;
  height: 1px;
  border: none;
}

.gap {
  height: 30px;
  display: block;
}

.gap-md {
  height: 40px;
  display: block;
}

.gap-lg {
  height: 60px;
  display: block;
}

/* Spacing Reset - Start
================================================== */
.section-space {
  padding: 140px 0;
}

section, .section {
  position: relative;
}

.page-title {
  font-size: 36px;
  line-height: 44px;
}

@media (min-width: 1200px) {
  .page-title {
    font-size: 36px;
    line-height: 44px;
  }
}
.section-padding {
  padding: 70px 0;
}

@media (min-width: 768px) {
  .section-padding {
    padding: 100px 0;
  }
}
.gutter-10 {
  margin-top: -5px !important;
  margin-bottom: -5px !important;
}
.gutter-10 > li,
.gutter-10 > div {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.gutter-20 {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}
.gutter-20 > li,
.gutter-20 > div {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.gutter-30 {
  margin-top: -15px !important;
  margin-bottom: -15px !important;
}
.gutter-30 > li,
.gutter-30 > div {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.gutter-40 {
  margin-top: -20px !important;
  margin-bottom: -20px !important;
}
.gutter-40 > li,
.gutter-40 > div {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.gutter-50 {
  margin-top: -25px !important;
  margin-bottom: -25px !important;
}
.gutter-50 > li,
.gutter-50 > div {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.gutter-60 {
  margin-top: -30px !important;
  margin-bottom: -30px !important;
}
.gutter-60 > li,
.gutter-60 > div {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.gutter-70 {
  margin-top: -35px !important;
  margin-bottom: -35px !important;
}
.gutter-70 > li,
.gutter-70 > div {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

div[class*=col-] {
  position: relative;
}

/* Spacing Reset - End
================================================== */
/* Hero Section - Start */
.banner-sec {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  padding: 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.banner {
  background-color: #FAF7F7;
}
.banner-content {
  position: relative;
  padding: 0 12px;
}
.banner-content .leading {
  font-size: 20px;
  margin-bottom: 45px;
  color: #9EAEBB;
  font-weight: 400;
}

.banner-title {
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 1.2;
  color: var(--white);
}
.banner-title br {
  display: none;
}
@media (min-width: 992px) {
  .banner-title br {
    display: block;
  }
}

.banner-image {
  max-width: 675px;
}
.banner-image img {
  max-width: 100%;
}

.animate-cap h2 {
  font-size: 80px;
  font-weight: 700;
}

.banner-tab .nav-tabs {
  border-color: transparent;
  margin-bottom: 23px;
}
.banner-tab .nav-tabs .nav-item .nav-link {
  color: var(--wsecondary);
  border-radius: 2px;
  border: none;
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Antonio", sans-serif;
  padding: 12px 24px;
  position: relative;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}
.banner-tab .nav-tabs .nav-item .nav-link::after {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -14px;
  content: url(../images/btn-shape.svg);
  opacity: o;
  visibility: hidden;
  -webkit-transition-delay: 0.03s;
          transition-delay: 0.03s;
}
.banner-tab .nav-tabs .nav-item .nav-link.active {
  background-color: var(--wsecondary);
  color: var(--white);
}
.banner-tab .nav-tabs .nav-item .nav-link.active::after {
  opacity: 1;
  visibility: visible;
}
.banner-tab .banner-form .form-input {
  border-radius: 2px;
}
.banner-tab .banner-form .form-input .input-f {
  font-size: 20px;
  color: #9F9F9F;
  line-height: 25px;
  height: 80px;
  padding: 14px 40px;
}
.banner-tab .banner-form .form-select {
  height: 55px;
  border-radius: 0;
  padding: 13px 20px;
}
.banner-tab .banner-form .form-btn {
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  text-transform: uppercase;
  border: none;
  /* color: var(--wsecondary); */
  border-radius: 2px;
  padding: 12px 60px 16px;
  background: var(--wsecondary);
  color: #fff;
  font-family: "Antonio", sans-serif;
}
.banner-tab .banner-form .form-btn svg {
  width: 24px;
  height: 30px;
  margin-top: -5px;
}
.banner-tab .banner-form .form-btn.form-btn-full {
  position: static;
  width: 100%;
}
@media (min-width: 992px) {
  .banner-tab .banner-form .form-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
  }
}

.animate-cap h2 {
  position: absolute;
  bottom: 0;
  top: 0;
  right: -100px;
  margin: auto;
  font-size: 130px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.06);
  height: 40px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-animation: leftright 8s linear infinite alternate;
          animation: leftright 8s linear infinite alternate;
}

@media (min-width: 992px) {
  .banner-sec {
    min-height: calc(100vh - 110px);
  }
  .banner-title {
    font-size: 110px;
    line-height: 110px;
  }
  .banner-content {
    margin-bottom: 130px;
  }
  .banner-image {
    position: relative;
    margin-right: -129px;
    margin-bottom: -350px;
    margin-left: -175px;
    margin-top: -11px;
  }
  .animate-cap h2 {
    font-size: 230px;
  }
}
@media (min-width: 1600px) {
  .banner-sec {
    padding: 120px 0 85px;
  }
}
@-webkit-keyframes leftright {
  from {
    right: -100px;
  }
  to {
    right: 0px;
  }
}
@keyframes leftright {
  from {
    right: -100px;
  }
  to {
    right: 0px;
  }
}
/*# sourceMappingURL=style.css.map */