/****************************
==============================
   table of content 
==============================

1.    Import files
2.    Header
3.    Banner
4.    About Intro
5     CTA
6.    Course
7.    Registration
8.    Team
9.    Event
10.   Testimonial 
11.   Blog 
12.   Client 
13.   Footer 

******************************/
:root {
  --primary: #DB2114;
  --secondary: #8666EA;
  --secondary-light: #E2F3EE;
  --text-color: #B4B4B4;
  --ascent2: #EACDBD;
  --ascent3: #E9F8F0;
  --dark: #000000;
  --dark2: #131212;
  --dark4: #7B7B7B;
  --dark5: #EBEBEB;
  --dark6: #F3F3F3;
  --info: #219FFF;
  --success: #17BD8D;
  --warning: #FFA114;
  --danger: #FF4E3E;
  --status: #F53D6B;
  --white: #fff;
}

/* Table of Content
====================

1. typography
2. Global styles

====================*/
:root {
  --primary: #DB2114;
  --secondary: #8666EA;
  --secondary-light: #E2F3EE;
  --text-color: #B4B4B4;
  --ascent2: #EACDBD;
  --ascent3: #E9F8F0;
  --dark: #000000;
  --dark2: #131212;
  --dark4: #7B7B7B;
  --dark5: #EBEBEB;
  --dark6: #F3F3F3;
  --info: #219FFF;
  --success: #17BD8D;
  --warning: #FFA114;
  --danger: #FF4E3E;
  --status: #F53D6B;
  --white: #fff;
}

@font-face {
  font-family: "Sora";
  src: url("../fonts/Sora-Regular.eot");
  src: url("../fonts/Sora-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Sora-Regular.woff2") format("woff2"), url("../fonts/Sora-Regular.woff") format("woff"), url("../fonts/Sora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Antonio";
  src: url("../fonts/Antonio-Bold.eot");
  src: url("../fonts/Antonio-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Antonio-Bold.woff2") format("woff2"), url("../fonts/Antonio-Bold.woff") format("woff"), url("../fonts/Antonio-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Antonio";
  src: url("../fonts/Antonio-Regular.eot");
  src: url("../fonts/Antonio-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Antonio-Regular.woff2") format("woff2"), url("../fonts/Antonio-Regular.woff") format("woff"), url("../fonts/Antonio-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Antonio";
  src: url("../fonts/Antonio-SemiBold.eot");
  src: url("../fonts/Antonio-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Antonio-SemiBold.woff2") format("woff2"), url("../fonts/Antonio-SemiBold.woff") format("woff"), url("../fonts/Antonio-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* ===========================
// Typography
==============================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 400;
  color: #000;
  font-family: "Sora", sans-serif;
}

.body-wrapper {
  overflow: hidden;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Antonio", sans-serif;
  color: var(--dark);
  font-weight: 600;
}

h1 {
  font-size: 64px;
  line-height: 80px;
}

h2 {
  font-size: 48px;
  line-height: 56px;
}

h3 {
  font-size: 30px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 34px;
}

h5 {
  font-size: 16px;
  line-height: 26px;
}

h6 {
  font-size: 14px;
  line-height: 22px;
}

/*============================ 
// Global styles
=============================*/
html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:link,
a:visited,
a:focus {
  text-decoration: none;
  outline: 0;
}

a {
  color: var(--primary);
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
a:hover {
  text-decoration: none;
  color: var(--primary);
}

strong {
  font-weight: 700;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
select,
:focus {
  outline: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

hr {
  opacity: 1;
  height: 1px;
  border: none;
}

.gap {
  height: 30px;
  display: block;
}

.gap-md {
  height: 40px;
  display: block;
}

.gap-lg {
  height: 60px;
  display: block;
}

/* CSS Animations - Start
================================================== */
.decoration-wrapper {
  z-index: 1;
  position: relative;
}
.decoration-wrapper .shape-item {
  z-index: -1;
  position: absolute;
}

@-webkit-keyframes moveUpDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes moveUpDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes zoomInZoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes zoomInZoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
.pulse-effect {
  z-index: 1;
  position: relative;
}
.pulse-effect:before, .pulse-effect:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  border: 1px solid #ECECEC;
}
.pulse-effect:before {
  -webkit-animation: pulse 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
          animation: pulse 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}
.pulse-effect:after {
  -webkit-animation: pulse 2s 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
          animation: pulse 2s 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}

/* CSS Animations - End
================================================== */
/* Spacing Reset - Start
================================================== */
.section-space {
  padding: 140px 0;
}

section, .section {
  position: relative;
}

.page-title {
  font-size: 36px;
  line-height: 44px;
}

@media (min-width: 1200px) {
  .page-title {
    font-size: 36px;
    line-height: 44px;
  }
}
.section-padding {
  padding: 70px 0;
}

@media (min-width: 768px) {
  .section-padding {
    padding: 100px 0;
  }
}
.gutter-10 {
  margin-top: -5px !important;
  margin-bottom: -5px !important;
}
.gutter-10 > li,
.gutter-10 > div {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.gutter-20 {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}
.gutter-20 > li,
.gutter-20 > div {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.gutter-30 {
  margin-top: -15px !important;
  margin-bottom: -15px !important;
}
.gutter-30 > li,
.gutter-30 > div {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.gutter-40 {
  margin-top: -20px !important;
  margin-bottom: -20px !important;
}
.gutter-40 > li,
.gutter-40 > div {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.gutter-50 {
  margin-top: -25px !important;
  margin-bottom: -25px !important;
}
.gutter-50 > li,
.gutter-50 > div {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.gutter-60 {
  margin-top: -30px !important;
  margin-bottom: -30px !important;
}
.gutter-60 > li,
.gutter-60 > div {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.gutter-70 {
  margin-top: -35px !important;
  margin-bottom: -35px !important;
}
.gutter-70 > li,
.gutter-70 > div {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

div[class*=col-] {
  position: relative;
}

/* Spacing Reset - End
================================================== */
/* Hero Section - Start */
.banner-sec {
  background-color: #FAF7F7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.banner {
  background-color: #FAF7F7;
}
.banner-content {
  position: relative;
  padding: 0 12px;
}
.banner-content .leading {
  font-size: 20px;
  margin-bottom: 45px;
  color: #9EAEBB;
  font-weight: 400;
}

.banner-title {
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--white);
}
.banner-title br {
  display: none;
}
@media (min-width: 992px) {
  .banner-title br {
    display: block;
  }
}

.banner-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.banner-btn-wrap li {
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .banner-btn-wrap li {
    margin-bottom: 0;
  }
}
.banner-btn-wrap li a {
  display: inline-block;
}
.banner-btn-wrap li a img {
  max-width: 201px;
}
.banner-btn-wrap li:last-child {
  margin-right: 0;
}

.banner-image {
  max-width: 500px;
}
.banner-image img {
  max-width: 100%;
}

@media (min-width: 992px) {
  .banner-sec {
    min-height: calc(100vh - 110px);
  }
  .banner-title {
    font-size: 64px;
    line-height: 77px;
  }
  .banner-content {
    padding: 0;
  }
}
@media (min-width: 1600px) {
  .banner-sec {
    padding: 120px 0 85px;
  }
}
.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  border-radius: 50%;
}
.video-play-button svg {
  width: 27px;
  fill: #fff;
  height: 42px;
  position: relative;
  z-index: 3;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 90px;
  height: 90px;
  background: var(--primary);
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
          animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 90px;
  height: 90px;
  background: var(--primary);
  border-radius: 50%;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: #ac1a10;
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */